<!DOCTYPE html>
<html>
<head>
  <title>SampleApp</title>
  <link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/static_pages.css?body=1" media="all" rel="stylesheet" />
  <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/turbolinks.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/static_pages.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="Id+UUPhVKHeJ7mDDJTBihNegrwci3+0z55etVsQzuXU=" name="csrf-token" />
</head>
<body>

<% provide(:title, 'Home') %>
<h1>Sample App</h1>
<p>
    This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
</p>

</body>
</html>


<!--<h1>Sample App</h1>-->
<!--<p>-->
<!--    This is the home page for the-->
<!--  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>-->
<!--    sample application.-->
<!--</p>-->